<!doctype html>
<html class="no-js" lang="de">
	<head>
    {{> meta }}
    {{> styles }}
	</head>
	<body class="datenschutz">
		{{> header datenschutz=true }}
    {{> content }}
    {{> footer }}
    {{> scripts }}
	</body>
</html>
