<!doctype html>
<html class="no-js" lang="de">
	<head>
    {{> meta }}
    {{> styles }}
	</head>
	<body class="impressum">
	{{> header impressum=true }}
    {{> content }}
    {{> footer }}
    {{> scripts }}
	</body>
</html>
