.accordion {
  border-bottom: solid 1px #ccc;

  summary {
    cursor: pointer;
    padding: 0.5em 0;
    font-weight: bold;
    list-style-type: none;
    color: $blue;

    &::-webkit-details-marker {
      display: none;
    }

    > * {
      display: inline; /* so that block level elements don't wrap below marker when there is not enough space */
      margin: 0;
    }

    &::before {
      content: "";
      background: url(../img/down.svg) no-repeat;
      background-size: 20px;
      background-position: center center;
      width: 20px;
      height: 21px;
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 5px;
    }
  }

  &[open] summary::before {
    background-image: url(../img/up.svg);
  }

  &__content {
    padding-bottom: 1em;

    > *:first-child {
      margin-top: 0;
    }
  }
}
