form {
  margin-top: 30px;

  /* to avoid zooming on iPhone when input or textarea get the focus we need to set font-size at least to 16px */
  input, textarea {
    font-size: 16px;
  }

  /* fix styling of date input fields on iphone */
  input[type="date"] {
    -webkit-appearance: none;
    min-height: 2em;
    background: none;
  }

  input[type="checkbox"] {
    margin: 0 3px 0 0;
  }

  button {
    font-size: 18px;
    background: $blue;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 20px 0;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: 22px;
      padding: 10px 20px;
    }
  }

  .row {
    display: block;
    margin-top: 10px;

    &.required > label::after,
    &.required > p:first-child::after {
      content: "*";
      margin-left: 2px;
    }

    &.hidden {
      display: none;
    }

    &--two-columns {
      label {
        display: inline-block;
        min-width: 200px;
        vertical-align: top;
      }

      input {
        width: 100%;
        border: solid 1px #ccc;
        border-radius: 0;
        padding: 5px;
        box-sizing: border-box;
  
        @media (min-width: 768px) {
          width: auto;
          min-width: 300px;
        }
      }
    }

    textarea {
      border: solid 1px #ccc;
      border-radius: 0;
      padding: 5px;

      @media (min-width: 768px) {
        max-width: 650px;
      }
    }
  }
}

