.header .hamburger {
	vertical-align: middle;
	padding: 0;
	//padding-bottom: 20px;

	&:focus {
		outline: none;
	}

	span.hamburger-inner {
		&, &::before, &::after {
			background-color: $blue;
		}
	}

	&:hover {
		opacity: 1;
	}

	@media (min-width: 768px) {
		display: none;
	}

	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		border-radius: 0;
	}

	.hamburger-label {
		font-size: 16px;
		margin-left: 5px;
		font-weight: bold;
		text-transform: uppercase;
	}
}
